/*GLOBAL STYLES*/
* {
  color: aliceblue;
}
/*NAV CONTAINER*/
.large-Div-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SEARCHBAR*/
input {
  min-height: 60px;
  border-radius: 32px;
  min-width: 500px;
  margin-left: 32px;
}
input:focus {
  outline: none;
}

#user-Input {
  position: relative;
}

.submit-Btn {
  min-height: 60px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  margin-left: 32px;
  text-align: right;
}
/*MAP DISPLAY*/
.map-Display {
  height: auto;
  min-width: 500px;
  min-height: 300px;
}

canvas {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*PLAYER LIST*/
#squad-List-Display {
  max-height: 300px;
  min-width: 500px;
}

/*CUSTOM PLAYER LIST SCROLLBAR STYLES*/
#squad-List-Display::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#squad-List-Display::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#squad-List-Display::-webkit-scrollbar-thumb {
  background-color: rgb(202 138 4);
  border-radius: 10px;
}

#player-Card {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
}

.squad-List-Display {
  max-height: 400px;
  overflow: scroll;
}

/*TEAM INFO*/
.team-text-Container p {
  margin-top: 8px;
}

/*RECENT SCORES*/
.recent-Scores {
  border-radius: 16px;
  padding: 8px;
}

/*MEDIA QUERIES*/

/*DESKTOP*/
@media only screen and (max-width: 1381px) {
  .top-Row-Container {
    display: flex;
  }
  .map-Display {
    min-width: 94vw;
    justify-content: center;
  }
}
/*LAPTOP*/
@media only screen and (max-width: 1176px) {
  .nav-Container {
    flex-direction: column-reverse;
    padding: 24px;
  }
}
@media only screen and (max-width: 620px) {
  .recent-Scores li {
    font-size: 12px;
  }
  .recent-Scores {
    padding: 0px;
  }
  input {
    min-width: 280px;
  }
  .map-Display {
    min-width: 90vw;
  }
}
@media only screen and (max-width: 800px) {
  .pastGamesJS {
    min-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .pastGamesJS {
    min-width: 200px;
  }
}
/*TABLET*/
@media only screen and (max-width: 620px) {
  .team-Info-Container {
    flex-direction: column;
    justify-content: center;
  }
  .team-Crest-Container {
    justify-content: center;
  }
  .team-text-Container p {
    font-size: 10px;
  }
  .teamCrest img {
    flex-shrink: 1;
    max-width: 100px;
  }
  #squad-List-Display {
    max-height: 600px;
    min-width: 20px;
    max-width: 280px;
  }
}
/*MOBILE*/
@media only screen and (max-width: 440px) {
  .nav-Container {
    align-items: center;
  }
  .recent-Game-Title {
    font-size: 8px;
  }
  .top-Row-Container {
    max-width: 100vw;
    font-size: 15px;
  }

  .large-Div-Container {
    max-width: 200px;
  }
  input {
    max-width: 200px;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    font-size: 5px;
    margin-left: 0;
  }

  .team-text-Container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .team-text-Container p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
  }

  .team-Info-Container {
    justify-content: center;
    padding: 5px;
  }
  .squad-List-Display {
    font-size: 10px;
    max-height: 300px;
  }
  .recent-Scores li {
    font-size: 8px;
  }
  .player-Card {
    font-size: 12px;
  }

  #player-List {
    max-height: 300px;
  }
  #squad-List-Display {
    max-height: 600px;
    max-width: 180px;
  }
  .large-Div-Container {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-Container {
    font-size: 4px;
  }
  .pastGamesJS {
    min-width: 200px;
  }
}
